Package: com.mutelock.tweak
Name: MuteLock
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Advanced privacy shield. Blocks Camera & Mic using 'Smart Data Zeroing' and optional 'Extreme Protection' to kill media daemons. Features temporary unlock and logs.
Maintainer: Yousef <yousef_dev921@twitter>
Author: Yousef
Section: Tweaks
Depends: firmware (>= 15.0), firmware (<< 17.0), mobilesubstrate | substitute | libhooker | ellekit, preferenceloader
Icon: file:///var/jb/Library/PreferenceBundles/MuteLockPrefs.bundle/icon@2x.png
Depiction: https://x.com/yousef_dev921
